{% extends "base.html" %}
{% load filter %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  
<h1>Teams</h1>
<div id="people-list">
  
    <div class="user">
      
    
      <div class="info">


      </div>    </div>




</div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Group</th>
        <th scope="col">Best Player</th>
        <th scope="col">Players with no cards</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}

      <tr>
        <th scope="row">   {{forloop.counter }}</th>
        <td>{{team.team_group}}
        </td>
        <td>
          
          {% for team2, player in best_players_dic.items %}
          {% if team ==  team2 %}
          
          {{player}}
         
          {% endif %}    
          {% empty %}
          None
      {% endfor %}
      

        </td>
        <td>
          {% for team2, player in no_cards_dic.items %}
          {% if team ==  team2 %}
          {% for i in player %}
          {{i}}, 
          {%empty%}
          None
          {%endfor %}
          {% endif %}    
      {% endfor %}
      
      

        </td>
      </tr>
      {% endfor %}

 
    </tbody>
  </table>
{% endblock %}
