{% extends "base.html" %}
{% load filter %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  
<h1>Teams</h1>
<div id="people-list">
  
    <div class="user">
      
    
      <div class="info">


      </div>    </div>




</div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Group</th>
        <th scope="col">Best Player</th>
        <th scope="col">Players with no cards</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}

      <tr>
        <th scope="row">   {{forloop.counter }}</th>
        <td>{{team.team_group}}
        </td>
        <td>{% for best_player in best_players %}
      
          {{best_player}}      {% endfor %}
        </td>
        <td>
      
          {% with card=no_cards|get_item:forloop.counter0 %}
          {% for i in card %}
          {{i}}, 
          {%empty%}
          None
          {%endfor %}
          {% endwith %}

        </td>
      </tr>
      {% endfor %}

 
    </tbody>
  </table>
{% endblock %}
